@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --neutral-color: #18181b;
    --neutral-color2: #262626;
    --primary-color: #5c8d4d;
    --primary-color2: #4e6e44;
    --text-color: #bfc5cc;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}